@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;

}

body {
  background-color: #fff;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity .5s ease;
}

header ul.nav li:hover {
  opacity: 0.5;
}

header .presentation {
  margin: 50px 0;
  background: url('./img/bg.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  width: 100%;
  height: 500px;
  position: relative;
}

header .presentation::after {
  content: 'The best goods for your house';
  position: absolute;
  top: 100px;
  left: 50px;
  width: 400px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

header .presentation::before {
  content: 'at low prices';
  position: absolute;
  top: 210px;
  left: 50px;
  width: 400px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item{
  width: 30%;
  height: 400px;
  margin-bottom: 50px;
  background: #f5f5f5;
  position: relative;
  padding-bottom: 20px;
  /* overflow: hidden; */
}

main .item img {
  width: 100%;
  height: 65%;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  transition: transform .3s ease;
}

main .item img:hover {
  transform: scale(1.03);
}

main h2, 
main p, 
main b {
  margin: 10px 20px;
  color: #333;
}

main b {
  color: #5fa36a;
}

main .add-to-cart {
  position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform .3s ease;
}

main .add-to-cart:hover {
  transform: scale(1.3) translateY(-5px);
}

footer {
  text-align: center;
  margin-top: 100px;
}