@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;

}

body {
  background-color: #fff;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header {
  position: relative;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity .5s ease;
}

header ul.nav li:hover {
  opacity: 0.5;
}

header .shop-cart-button {
  float: right;
  cursor: pointer;
  transition: color, transform .2s ease;
}

header .shop-cart-button:hover,
header .shop-cart-button.active {
  color: #dc3d3d;
  transform: scale(1.2);
}

header .shop-cart {
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  background: #fafafa;
  -webkit-box-shadow: 4px 5px 15px -7px #606060;
  box-shadow: 4px 5px 15px -7px #606060;
  z-index: 1000;
  padding: 20px;
  padding-bottom: 0;
}

header .shop-cart .empty h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

header .shop-cart .item {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}


header .shop-cart .item img {
  width: 70px;
  float: left;
  margin-right: 20px;
}

header .shop-cart .item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

header .shop-cart .item p {
  color: #797979;
  font-weight: 600;
}

header .shop-cart .item .delete-icon{
  color: #ca5252;
  float: right;
  position: relative;
  top: -25px;
  cursor: pointer;
  transition: color, transform .3s ease;
}

header .shop-cart .item .delete-icon:hover {
  color: #d93030;
  transform: scale(1.4);
}

header .shop-cart .total {
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

header .presentation {
  margin: 50px 0;
  background: url('./img/bg.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  width: 100%;
  height: 500px;
  position: relative;
}

header .presentation::after {
  content: 'The best goods for your house';
  position: absolute;
  top: 100px;
  left: 50px;
  width: 400px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

header .presentation::before {
  content: 'at low prices';
  position: absolute;
  top: 210px;
  left: 50px;
  width: 400px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

.categories div {
  display: inline-block;
  background: #f2f2f2;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 25px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all .5s ease;
}

.categories div:hover {
  border-color: silver;
  transform: scale(1.1);
}

.full-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000af;
  z-index: 9999;
  overflow: auto;
}

.full-item > div {
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #fff;
  border-radius: 9px;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item{
  width: 30%;
  height: 400px;
  margin-bottom: 50px;
  background: #f5f5f5;
  position: relative;
  padding-bottom: 20px;
  /* overflow: hidden; */
}

main .item img, .full-item img{
  width: 100%;
  height: 65%;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  transition: transform .3s ease;
  cursor: pointer;
}

main .item img:hover, .full-item img:hover{
  transform: scale(1.03);
}

main h2, .full-item h2,
main p, .full-item p,
main b, .full-item b {
  margin: 10px 20px;
  color: #333;
}

main b, .full-item b {
  color: #5fa36a;
}

main .add-to-cart,
.full-item .add-to-cart {
  position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform .3s ease;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover {
  transform: scale(1.3) translateY(-5px);
}

footer {
  text-align: center;
  margin-top: 100px;
}